
   /* ======================== */
   /* ¥‹¤’Ê‘•ü(Œ“ƒ‚ƒoƒCƒ‹—p) */
   /* ======================== */
      @media (min-width: 1280px) {

   body {
      background-color: #486d46;
      background-image: url("3d-wallpaper-custom-photo-european-cafe-city.jpg"); /* 640x426 */
      background-size: cover;

      }
   }

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}

